/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.cssAnim1 {
    width: 200px;
    height: 200px;
    border: 2px red solid;
    display: inline-block; /* 圖片沒有區塊 */
    overflow: hidden;
}

.cssAnim1 img {
    width: 100%;
    transition: all .3s linear;
}
.imgScale img{
    transform: scale(1.5);
}